*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* =========== main styles =========== */

.inputContainer {
  display: flex;
}

.taskListInput {
  width: 500px;
  height: 40px;
}

.showModalBtn {
  width: 40px;
  height: 40px;
}

/* popup styles */

.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.3);
}

.modalPopup {
  position: fixed;
  border-radius: 20px;
  background-color: white;
  width: 40%;
  min-width: 200px;
  height: 50%;
  left: 50%;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  transform: translate(-50%, -50%);
}

.modalText {
  margin-bottom: 5px;
  font-size: 20px;
}

.modalTitleInput {
  width: 100%;
  height: 30px;
  font-size: 16px;
  padding: 0 10px;
}

.btnContainer {
  display: flex;
  justify-content: space-around;
}

/* ======= List styles ======  */
.taskListItem {
  display: flex;
}

.itemTitle {
  font-size: 25px;
}

.itemDelete::before {
  content: "\2716";
  font-size: 30px;
  cursor: pointer;
}

.itemEdit::before {
  content: "\270E";
  font-size: 29px;
  cursor: pointer;
}

/* ============ filter buttons =============== */

.filterButtonsList {
  display: flex;
  list-style: none;
}

.filterBtnItem {
  margin-right: 10px;
  cursor: pointer;
}

/* =========== sort ============== */
.sortButton::before {
  content: "\21c6";
  font-size: 29px;
  cursor: pointer;
}

.sortButtonsList {
  /* position: absolute; */
  display: flex;
  list-style: none;
}

.sortButtons {
  margin-right: 10px;
}

.sortBtnByDate {
  border: 1px solid black;
  cursor: pointer;
  padding: 0 10px;
}

.sortBtnByText {
  border: 1px solid black;
  cursor: pointer;
  padding: 0 10px;
}

/* ===== dynamic styles ====== */

.display-none {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.itemSettled {
  color: #979292;
}

.itemContentSettled p {
  text-decoration: line-through;
}
